body {
    background-color: gray;
}
a {
    width: 25%;
    color: white;
    text-decoration: none;
    background-color: rgb(50, 50, 50);
    border: 0;
    flex-grow: 1;
    padding: 20px;
}
a:hover {
    color: cornflowerblue;
}

#navbar {
    
    float:center;
}

#logo {
    width: 20%;
    float: left;
    height: 100%;
}
#clock{
    float: right;
}